/* General Page Styling */
body {
  font-family: Verdana, sans-serif;
  margin: 40px;
  background-color: #ffe4c4;
  color: #222;
}

h2 {
  font-size: 26px;
  font-weight: bold;
  margin-top: 40px;
  text-align: left;
}

/* Shared Table Style */
table {
  border-collapse: collapse;
  width: 70%;
  margin-bottom: 30px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  text-align: center;
}

/* Shared Cell Styling */
th, td {
  border: 1px solid #333;
  padding: 10px;
}

/* ------------------------------- */
/* TABLE 1: cyan  Theme (Fruit Prices) */
/* ------------------------------- */

.table1 {
  color: #800080;
  background-color: #808000;
}

.table1 th {
  background-color: #0000A0;
  color: #FFF;
}

.table1 td:nth-child(1) { background-color: #FF0000,#fce5cd,#9900ff; }
.table1 td:nth-child(2) { background-color: #0000FF; }
.table1 td:nth-child(3) { background-color: #C0C0C0; }
.table1 td:nth-child(4) { background-color: #80b3ff; }
.table1 td:nth-child(5) { background-color: #FFA500; color: white; }

/* ------------------------------- */
/* TABLE 2: brown Theme (Farm Details) */
/* ------------------------------- */

.table2 {
  color: #00ff00;
  background-color: #FFA500;
}

.table2 th {
  background-color: #foffff;
  color: #fff;
}

.table2 td:nth-child(1) { background-color: #7FFF00; }
.table2 td:nth-child(2) { background-color: #d2691e; }
.table2 td:nth-child(3) { background-color: #8a2be2; }
.table2 td:nth-child(4) { background-color: #76a4ae; }
.table2 td:nth-child(5) { background-color: #f0f8ff; color: black; }